<ul class="pagination">
    {{#getFirstPage}}
    <li class="first"><a href="./?{{query}}" title="{{title}}">&lt;&lt;</a></li>
    {{/getFirstPage}}

    {{#getPreviousPage}}
    <li class="prev"><a href="./?{{query}}" title="{{title}}">&lt;</a></li>
    {{/getPreviousPage}}

    <li class="spacer">&nbsp;</li>

    {{#getAllPages}}
    <li class="middle {{#isCurrentPage}} current{{/isCurrentPage}}"><a href="./?{{query}}" title="{{title}}">{{page}}</a></li>
    {{/getAllPages}}

    <li class="spacer">&nbsp;</li>

    {{#getNextPage}}
    <li class="next"><a href="./?{{query}}" title="{{title}}">&gt;</a></li>
    {{/getNextPage}}

    {{#getLastPage}}
    <li class="last"><a href="./?{{query}}" title="{{title}}">&gt;&gt;</a></li>
    {{/getLastPage}}
</ul>