<ul class="pagination">
    {{#getFirstPage}}
    <li class="first"><a href="./?{{query}}" title="{{title}}">{{text}}</a></li>
    {{/getFirstPage}}

    {{#getPreviousPage}}
    <li class="prev"><a href="./?{{query}}" title="{{title}}">{{text}}</a></li>
    {{/getPreviousPage}}

    {{#getLeftPages}}
    <li class="left {{#isCurrentPage}} current{{/isCurrentPage}}"><a href="./?{{query}}" title="{{title}}">{{page}}</a></li>
    {{/getLeftPages}}

    {{#hasLeftEllipsis}}
    <li class="ellipsis">[…]</li>
    {{/hasLeftEllipsis}}
    {{^hasLeftEllipsis}}
    <li class="spacer">&nbsp;</li>
    {{/hasLeftEllipsis}}

    {{#getCenterPages}}
    <li class="middle {{#isCurrentPage}} current{{/isCurrentPage}}"><a href="./?{{query}}" title="{{title}}">{{page}}</a></li>
    {{/getCenterPages}}

    {{#hasRightEllipsis}}
    <li class="ellipsis">[…]</li>
    {{/hasRightEllipsis}}
    {{^hasRightEllipsis}}
    <li class="spacer">&nbsp;</li>
    {{/hasRightEllipsis}}

    {{#getRightPages}}
    <li class="right{{#isCurrentPage}} current{{/isCurrentPage}}"><a href="./?{{query}}" title="{{title}}">{{page}}</a></li>
    {{/getRightPages}}

    {{#getNextPage}}
    <li class="next"><a href="./?{{query}}" title="{{title}}">{{text}}</a></li>
    {{/getNextPage}}

    {{#getLastPage}}
    <li class="last"><a href="./?{{query}}" title="{{title}}">{{text}}</a></li>
    {{/getLastPage}}
</ul>

<style>
ul.pagination {
    width: 100%;
}

ul.pagination li {
    text-align: center;
    width: 20px;
    list-style: none;
    float: left;
    padding: 15px;
    border-left: solid 1px #b0afaf;
}

ul.pagination li.current {
    background-color: #9ff1ae !important;
}

ul.pagination li.first {
    background-color: #8a8989;
}

ul.pagination li.prev {
    background-color: #9b9b9b;
}

ul.pagination li.next {
    background-color: #9b9b9b;
}

ul.pagination li.last {
    background-color: #8a8989;
}

ul.pagination li.left {
    background-color: #bfede4;
}

ul.pagination li.middle {
    background-color: #c1c7ee;
}

ul.pagination li.right {
    background-color: #e6eec1;
}
</style>